<%- include('include/head', {title: '404 Error'}); %>

<body>
    <%- include('include/header'); %>

    <div>
        <h1> Not found </h1>
    </div>
    <div>
        The document you are searching is not available.
    </div>
</body>
</html>