<%- include('include/head', {title: 'User Not Found!'}); %>
<body style="background-color: #bfeef1;">
    <%- include('include/header'); %>
    <h1>Account does not exist.</h1>
    <h2>Please Sign Up!</h2>
    <a href="/sign-up">Go to Sign-Up Page</a>
</body>
</html>