<%- include('include/head', {title: 'Login Failed!'}); %>
<body style="background-color: #bfeef1;">
    <%- include('include/header'); %>
    <h1>You entered a wrong password.</h1>
    <h2>Please, login with correct passord!</h2>
    <a href="/login">Login in</a>
</body>
</html>