<%- include('include/head', {title: 'Email Matched'}); %>

<body>
    <%- include('include/header'); %>

    <div>
        <h1> The Email you entered already exist. </h1>
    </div>
    <div>
        Please sign up using different email or <a href="/login">Login</a> on the existing account with this email.
    </div>
</body>
</html>