<%- include('include/head', {title: 'Login Success'}); %>
<body style="background-color: #bfeef1;">
    <%- include('include/header'); %>
    <h1>Welcome back! <%= loginUser.name %> </h1>
    <h2>You have login Successfully!</h2>
</body>
</html>