<%- include('include/head', {title: user.name}); %>
<body style="background-color: #bfeef1;">
    <%- include('include/header'); %>
    <h1 style="text-align: center;"><%= user.name %></h1>
    <br>
    <%- include('include/post-list', {tasks: tasks, loginUser: loginUser}); %>
</body>
</html>