<%- include('include/head', {title: 'Sign-Up Success'}); %>
<body style="background-color: #bfeef1;">
    <%- include('include/header'); %>
    <h1>Welcome! <%= user.name %>, you have Sign Up Successfully!</h1>
    <br>
    <h2>Now, login to your account</h2>
    <br>
    <a href="/login">Login</a>
</body>
</html>