<header>
    <nav>
        <div style="margin:auto; width: 60%;">
                <div style = "display:inline-block; width:13%; border:2px solid Tomato;"><a href="/">Home</a></div>
            <% if (loginUser) { %>
                <div style = "display:inline-block; width:13%; border:2px solid DodgerBlue;"><a href="/new-task"> Create Task</a></div>
            <% } %>
            <% if (!loginUser) { %>
                <div style = "display:inline-block; width:13%; border:2px solid Tomato;"><a href="/sign-up">Sign Up</a></div>
            <% } %>
            <% if (!loginUser) { %>
                <div style = "display:inline-block; width:13%; border:2px solid DodgerBlue;"><a href="/login"> Login </a></div>
            <% } %>
            <% if (loginUser) { %>
                <div style = "display:inline-block; width:13%; border:2px solid Violet;"><a href="/me">My Profile</a> </div>
            <% } %>
            <% if (loginUser) { %>
                <div style = "display:inline-block; width:13%; border:2px solid Tomato;"><a href="/logout">Logout</a></div>
            <% } %>
        </div>
        <!-- <a href="/">Home</a> | <a href="/new-task"> Create Task</a> | <a href="/all-tasks"> All Tasks </a> |
        <a href="/sign-up">Sign Up</a> | <a href="/login"> Login </a> | <a href="/me">My Profile</a> | 
        <a href="/logout">Logout</a> -->
    </nav>
</header>